//--------------------------------------------------------------------------
// АДАПТИВНОЕ БОКОВОЕ МЕНЮ
//--------------------------------------------------------------------------

// ОСНОВНЫЕ РАЗМЕРЫ
$nav-height: 42.84px;
$bar-width: 220px;

// ЦВЕТА ПОД МОБИЛКИ
$mobile-color: rgba(255, 255, 255, 0.9);
$mobile-bg-color: #1b1c1d;
$mobile-bg-color-hover: #2d2e2f;
$mobile-bg-color-active: #3d3e3f;

// ЦВЕТА ПОД МОНИТОРЫ
$screen-color: #1b1c1d;
$screen-bg-color: inherit;
$screen-bg-color-hover: #f2f2f2;
$screen-bg-color-active: #f2f2f2;

.nav-sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    transition: left 0.3s ease-out;
    color: $mobile-color;
    background-color: $mobile-bg-color;
    top: $nav-height;
    left: -$bar-width;
    bottom: 0;
    width: $bar-width;
    overflow: auto;
    z-index: 90;

    &--expand {
        left: 0;
    }
}

.sidebar-menu {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: $mobile-color;
    background-color: inherit;

    &__item {
        transition: color .1s ease, background-color .1s ease;
        color: $mobile-color;
        background-color: $mobile-bg-color;
        padding: 14px;

        &:hover {
            color: $mobile-color;
            background-color: $mobile-bg-color-hover;
            text-decoration: underline;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $mobile-bg-color-hover;
        }

        &.sidebar-menu__item--active {
            color: inherit;
            background-color: $mobile-bg-color-active;
        }
    }
}

.content-dimmer {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    top: $nav-height;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 89;

    &--collapsed {
        opacity: 0;
        z-index: -100;
    }
}

.button-toggle {
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    margin-left: -14px;
    padding: 14px;
    border-radius: 0;
    box-shadow: none;
    vertical-align: middle;
    cursor: pointer;

    &:active {
        background-color: #f8f8f8;
    }

    i {
        margin: 0;
        font-size: 16px;
    }
}

.ui.breadcrumb {
    padding-left: 16px;
    border-left: 1px solid #d6d6d6;

    > {
        * {
            line-height: 1.5;
        }

        a {
            color: rgba(0, 0, 0, .8) !important;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: 992px) {
    .nav-sidebar {
        position: static;
        border-left: none;
        color: $screen-color;
        background-color: $screen-bg-color;
    }

    .sidebar-menu {
        color: $screen-color;
        background-color: $screen-bg-color;

        &__item {
            color: $screen-color;
            background-color: $screen-bg-color;
            padding: 11px 13px;
            margin-bottom: 5px;
            border-radius: .28571429rem;
            transition: color 0s, background-color 0s;

            &:not(:last-child) {
                border-bottom: none;
            }

            &:hover {
                color: $screen-color;
                background-color: $screen-bg-color-hover;
                text-decoration: none;
            }

            &.sidebar-menu__item--active {
                background-color: $screen-bg-color-active;
            }
        }
    }

    .button-toggle {
        display: none;
    }

    .ui.breadcrumb {
        padding: 0;
        border-left: none;
    }
}