//--------------------------------------------------------------------------
// ОСНОВНЫЕ СТИЛИ ДОКУМЕНТА
//--------------------------------------------------------------------------

$nav-height: 42.84px;

html {
    height: 100%;
}

body {
    background-color: #fafafa; 
    height: calc(100% - #{$nav-height});
}

.ui.container {
    padding-bottom: 100px;

    > *:first-child {
        margin-top: $nav-height;
    }
}

.ui.menu .header.item {
    display: none;
}

@media (min-width: 768px) {
    .ui.menu .header.item {
        display: flex;
    }
}

.ui.button,
.ui.menu .item {
    text-transform: uppercase !important;
}

.user-select {
    user-select: all;
    cursor: pointer;
}